<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.1/vuetify.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<style>
	.clickable {
		cursor: pointer;
	}
	@media screen and (min-width: 1200px) and (max-width: 10000px) {
		#logbox {
			width: 15%;
		}
	}
	</style>
</head>
<body>
	<v-app id="app" style="background: #263238;">
		<template>
			<div class="error" style="text-align: center"></div>
			<v-layout align-center justify-center row fill-height>
				<v-card dark color="#2B4570" id="logbox">
					<v-card-text>
						<p class="display-1 text-xs-center">Sign in</p>
					</v-card-text>
					<v-container>
						<v-form
							ref="change-form"
							id="change-form"
						>
							<v-layout column>
								<v-flex>
									<v-text-field
									label="password"
									name="password"
									solo
									></v-text-field>
									<v-text-field
									label="confirmPassword"
									name="confirmPassword"
									solo
									></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout align-center justify-center>
								<v-btn type='submit' color="#5F5AA2">Change password</v-btn>
							</v-layout>
						</v-form>
					</v-container>
				</v-card>
			</v-layout>
		</template>
	</v-app>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.10/dist/vuetify.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/ajax.js"></script>
	<script>new Vue({
		el: '#app',
		data () {
			return {}
		}
	})
	</script>
</body>
</html>
