<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<style>
	.clickable {
		cursor: pointer;
	}
	@media screen and (min-width: 1200px) and (max-width: 10000px) {
		#logbox {
			width: 15%;
		}
	}
	</style>
</head>
<body>
	<v-app id="app" style="background: #263238;">
		<template>
			<v-layout align-center justify-center row fill-height>
				<v-card dark color="#2B4570" id="logbox">
					<v-card-text>
						<p class="display-1 text-xs-center">Sign in</p>
					</v-card-text>
					<v-container>
						<v-layout column>
							<v-flex>
								<v-text-field
								label="Username"
								solo
								></v-text-field>
							</v-flex>
							<v-flex>
								<v-text-field
								solo
								type="password"
								label="Password"
								></v-text-field>
							</v-flex>
						</v-layout>
						<v-layout align-center justify-center>
							<v-btn color="#5F5AA2">Login</v-btn>
						</v-layout>
						<v-layout align-center justify-center mt-4>
							<div style="width: 60px; height: 60px; margin-right: 20px">
								<v-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/42_Logo.svg/1024px-42_Logo.svg.png"
								aspect-ratio="1"
								width="60px"
								height="60px"
								class="clickable"
								v-on:click="window.location.replace('https://api.intra.42.fr/oauth/authorize?client_id=e4c94fbb3b0c602e87b8b6ec7065ed7d474d40adcc4b6450beb63a723d7552a4&redirect_uri=http%3A%2F%2Flocalhost%3A8008%2F42auth&response_type=code');"
								>
							</div>
							<div mx-1 style="width: 50px; height: 60px;">
								<v-img
								src="https://cdn2.iconfinder.com/data/icons/social-icons-circular-color/512/github-512.png"
								aspect-ratio="1"
								width="60px"
								height="60px"
								class="clickable"
								>
							</div>
						</v-layout>
					</v-container>
					<v-card-text>
						<p class="clickable body-2 text-xs-center" v-on:click="window.location.replace('/forgot');">Forgot password ?</p>
						<p class="clickable body-2 text-xs-center" v-on:click="window.location.replace('/signup');">Sign up</p>
					</v-card-text>
				</v-card>
			</v-layout>
		</template>
	</v-app>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>new Vue({
		el: '#app',
		data () {
			return {}
		}
	})
	</script>
</body>
</html>
