<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<style>
	.clickable {
		cursor: pointer;
	}
	@media screen and (min-width: 1200px) and (max-width: 10000px) {
		#logbox {
			width: 30%;
		}
	}
	</style>
</head>
<body>
	<v-app id="app" style="background: #263238;">
		<template>
				<div class="error" style="text-align: center"></div>
				<v-layout align-center justify-center row fill-height>
					<v-card dark color="primary" id="logbox">
						<v-card-text>
							<p class="display-1 text-xs-center">Sign up</p>
						</v-card-text>
						<v-form
							ref="register-form"
							id="register-form"
						>
							<v-container>
								<v-layout column>
									<v-flex>
										<v-text-field
										name="firstName"
										label="First name"
										:rules="[rules.required, rules.name]"
										solo
										></v-text-field>
									</v-flex>
									<v-flex>
										<v-text-field
										name="lastName"
										label="Last name"
										:rules="[rules.required, rules.name]"
										solo
										></v-text-field>
									</v-flex>
									<v-flex>
										<v-text-field
										name="username"
										label="Username"
										:rules="[rules.required, rules.username]"
										solo
										></v-text-field>
									</v-flex>
									<v-flex>
										<v-text-field
										name="email"
										label="Email"
										:rules="[rules.required, rules.email]"
										solo
										>
									</v-text-field>
								</v-flex>
								<fieldset>
									<label>
										<input type="radio" name="picture" value="1" checked>
										<img class="img-form" src="/img/1.png">
									</label>

									<label>
										<input type="radio" name="picture" value="2">
										<img class="img-form" src="/img/2.png">
									</label>
								</fieldset>
								<fieldset>
									<label>
										<input type="radio" name="language" value="fr" checked>
										<img class="flag-img-form" src="/img/fr.png">
									</label>

									<label>
										<input type="radio" name="language" value="en">
										<img class="flag-img-form" src="/img/en.png">
									</label>

									<label>
										<input type="radio" name="language" value="es">
										<img class="flag-img-form" src="/img/es.png">
									</label>

									<label>
										<input type="radio" name="language" value="de">
										<img class="flag-img-form" src="/img/de.png">
									</label>
								</fieldset>
								<v-flex>
									<v-text-field
									name="password"
									:append-icon="show1 ? 'visibility' : 'visibility_off'"
									:rules="[rules.required, rules.password]"
									:type="show1 ? 'text' : 'password'"
									label="Password"
									hint="At least 8 characters"
									class="input-group--focused"
									@click:append="show1 = !show1"
									solo
									></v-text-field>
								</v-flex>
								<v-flex>
									<v-text-field
									name="confirmPassword"
									:append-icon="show2 ? 'visibility' : 'visibility_off'"
									:rules="[rules.required, rules.password]"
									:type="show2 ? 'text' : 'password'"
									label="Repeat password"
									hint="At least 8 characters"
									class="input-group--focused"
									@click:append="show2 = !show2"
									solo
									></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout align-center justify-center>
								<v-btn type='submit' color="teal">Sign up</v-btn>
							</v-layout>
						</v-container>
						</v-form>
					<v-card-text>
						<p class="clickable body-2 text-xs-center" v-on:click="window.location.href = '/';">Sign in</p>
					</v-card-text>
				</v-card>
			</v-layout>

	</template>
</v-app>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.10/dist/vuetify.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/ajax.js"></script>
<script>
new Vue({
	el: '#app',
	data () {
		return {
			show1: false,
			show2: false,
			imageName: '',
			imageUrl: '',
			imageFile: '',
			rules: {
				required: value => !!value || 'Required.',
				name: v => (v && v.length >= 2) || 'Min 2 characters',
				username: v => (v && v.length >= 2) || 'Min 2 characters',
				email: v => (v && this.validateEmail(v)) || 'Wrong email format',
				password: v => (v && v.length >= 8) || 'Min 8 characters with 2 at least digits'
			}
		}
	},
	methods: {
		validateEmail: function(email) {
			var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(email);
		},
		pickFile () {
			this.$refs.image.click ()
		},
		onFilePicked (e) {
			const files = e.target.files
			if(files[0] !== undefined) {
				this.imageName = files[0].name
				if(this.imageName.lastIndexOf('.') <= 0) {
					return
				}
				const fr = new FileReader ()
				fr.readAsDataURL(files[0])
				fr.addEventListener('load', () => {
					this.imageUrl = fr.result
					this.imageFile = files[0] // this is an image file that can be sent to server...
				})
			} else {
				this.imageName = ''
				this.imageFile = ''
				this.imageUrl = ''
			}
		}
	}
})
</script>

<style scoped>
	.img-form {
		width: 40%;
	}
	.flag-img-form {
		width: 10%;
	}
	fieldset {
    	border: 0;
	}
</style>
</body>
</html>
