<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
	<v-app id="app" style="background: #263238;">
		<template>
			<v-toolbar dark color="#455B66" style="font-family: roboto;">
				<v-toolbar-side-icon></v-toolbar-side-icon>
				<v-toolbar-title id="home" style="cursor: pointer" class="display-1 font-weight-light">Hypertube</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-toolbar-items class="hidden-sm-and-down">
					<v-flex md5 mr-5>
						<v-text-field
						hide-details
						prepend-icon="search"
						single-line
						id = "search_input"
						></v-text-field>
					</v-flex>
					<v-btn flat v-on:click="window.location.replace('/');">Movies</v-btn>
					<v-btn flat v-on:click="window.location.replace('/tv');" color="#342A21">Tv shows</v-btn>
					<v-btn flat v-on:click="window.location.replace('/stats');">Stats</v-btn>
					<v-btn flat v-on:click="window.location.replace('/logout')">logout</v-btn>
				</v-toolbar-items>
			</v-toolbar>
			<v-container grid-list-md text-xs-center>
				<v-layout>
					<v-dialog
					v-model="dialog"
					hide-overlay
					persistent
					width="300"
					>
						<v-card
						color="primary"
						dark
						>
							<v-card-text text-xs-center>
								Please stand by, We are preparing your episode..
								<v-progress-linear v-model="load_value" color="#43C59E" height="10"></v-progress-linear>
							</v-card-text>
						</v-card>
					</v-dialog>
					<v-flex md4>
						<img :src="img" style="max-width: 100%; height: auto;">
					</v-flex>
					<v-flex>
						<v-layout column>
							<v-flex ml-5 mr-5>
								<v-select v-on:change="loadEpisodes"
								:items="seasons"
								label="Pick a season"
								></v-select>
							</v-flex>
							<v-flex mx-5 my-2 v-for="episode in episodes"> <!-- v-for -->
								<v-card>
									<v-layout align-center justify-space-between row fill-height>
										<img height="150px" width="auto" :src="episode.still_path">
										<v-card-title primary-title>
											<div>
												<h3 class="headline mb-0">Episode {{ episode.episode_number }}</h3>
												<div>{{ episode.overview }}</div>
											</div>
										</v-card-title>
										<v-card-actions>
											<v-btn flat color="primary" v-on:click="goto_episode(episode)">Play</v-btn>
										</v-card-actions>
									</v-layout>
								</v-card>
							</v-flex>
						</v-layout>
					</v-flex>
				</v-layout>
			</v-container>
		</template>
	</v-app>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/show.js"></script>
</body>
</html>
