<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<style>
	.countup {
		margin-bottom: 20px;
	}
	.countup .timeel {
		display: inline-block;
		padding: 10px;
		background: #151515;
		margin: 0;
		color: white;
		min-width: 2.6rem;
		margin-left: 13px;
		border-radius: 10px 0 0 10px;
	}
	.countup span[class*="timeRef"] {
		border-radius: 0 10px 10px 0;
		margin-left: 0;
		background: #e8c152;
		color: black;
	}
	</style>
</head>
<body>
	<v-app id="app" style="background: #263238;">
		<template>
			<v-toolbar dark color="#455B66" style="font-family: roboto;">
				<v-toolbar-side-icon></v-toolbar-side-icon>
				<v-toolbar-title id="home" style="cursor: pointer" class="display-1 font-weight-light">Hypertube</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-toolbar-items class="hidden-sm-and-down">
					<v-btn flat v-on:click="window.location.replace('/');">Movies</v-btn>
					<v-btn flat v-on:click="window.location.replace('/tv');">Tv shows</v-btn>
					<v-btn flat color="brown darken-4">Stats</v-btn>
				</v-toolbar-items>
			</v-toolbar>
			<v-layout row>
				<v-flex style="border: 2px solid blue" xs6 offset-xs3>
					<v-layout row>
						<v-flex style="border: 2px solid purple">
							<v-img :src="img" aspect-ratio="1" style="max-width: 80%; object-fit: cover;">
						</v-flex>
						<v-flex style="border: 2px solid black">
							<v-flex class="headline grey--text text--lighten-2">{{ username }}</v-flex>
							<v-flex class="headline grey--text text--lighten-2">{{ name }}</v-flex>
							<div class="countup mt-5" id="countup1">
								<span class="headline grey--text text--lighten-2">Total watch time: </span>
								<span class="timeel hours">{{ hours }}</span>
								<span class="timeel timeRefHours">hours</span>
								<span class="timeel minutes">{{ minutes }}</span>
								<span class="timeel timeRefMinutes">minutes</span>
							</div>
							<v-flex class="headline grey--text text--lighten-2">Total data consumed: {{ size }}</v-flex>
						</v-flex>
					</v-layout>
					<v-layout column mt-5 style="border: 2px solid yellow">
							<v-flex display-5>History</v-flex>
							
					</v-layout>
				</v-flex>
			</v-layout>
		</template>
	</v-app>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/stats.js"></script>
</body>
</html>
