<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
	<v-app id="app" style="background: #263238;">
		<template>
			<v-toolbar dark color="#455B66" style="font-family: roboto;">
				<v-toolbar-side-icon></v-toolbar-side-icon>
				<v-toolbar-title id="home" style="cursor: pointer" class="display-1 font-weight-light">Hypertube</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-toolbar-items class="hidden-sm-and-down">
					<v-btn flat v-on:click="window.location.replace('/');">Movies</v-btn>
					<v-btn flat v-on:click="window.location.replace('/tv');">Tv shows</v-btn>
					<v-btn flat color="brown darken-4">Stats</v-btn>
				</v-toolbar-items>
			</v-toolbar>
			<v-layout align-center justify-center column>
				<v-flex style="border: 2px solid blue">
					<v-layout row>
						<img :src="img" style="width: 200px; height: 200px; object-fit: cover;">
						<v-flex ml-5>
							<p>{{ username }}</p>
							<p>{{ name }}</p>
							<p>Total watch Time: {{ time }}</p>
							<p>Total data consumed: {{ size }}</p>
						</v-flex>
					</v-layout>
				</v-flex>
				<v-flex>
					<p>history:</p>
				</v-flex>
			</v-layout>
		</template>
	</v-app>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/stats.js"></script>
</body>
</html>
