<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.1/vuetify.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<style>
	.countup {
		margin-bottom: 20px;
	}
	.countup .timeel {
		display: inline-block;
		padding: 10px;
		background: #151515;
		margin: 0;
		color: white;
		min-width: 2.6rem;
		margin-left: 13px;
		border-radius: 10px 0 0 10px;
	}
	.countup span[class*="timeRef"] {
		border-radius: 0 10px 10px 0;
		margin-left: 0;
		background: #48BEFF;
		color: black;
	}
	</style>
</head>
<body>
	<v-app id="app" style="background: #263238;">
		<template>
			<v-toolbar dark color="#455B66" style="font-family: roboto;">
		      <v-toolbar-title class="hidden-sm-and-down" id="home" style="cursor: pointer" class="display-1 font-weight-light">Hypertube</v-toolbar-title>
			  <v-flex style="margin-left: 10%;">
				  <v-text-field
				  hide-details
				  prepend-icon="search"
				  single-line
				  id = "search_input"
				  style="width: 70%;"
				  ></v-text-field>
			  </v-flex>
		      <v-spacer></v-spacer>
		      <v-toolbar-items class="hidden-sm-and-down">
		         <v-btn
		          v-for="item in menu"
		          :href="item.href"
		          flat
		        >{{ item.title }}</v-btn>
		      </v-toolbar-items>
		      <v-menu dark color="#455B66" class="hidden-md-and-up">
		        <v-toolbar-side-icon slot="activator"></v-toolbar-side-icon>
		        <v-list>
		          <v-list-tile v-for="item in menu" :key="item.icon">
		            <v-list-tile-content>
		              <v-list-tile-title><a :href="item.href">{{ item.title }}</a></v-list-tile-title>
		             </v-list-tile-content>
		          </v-list-tile>
		        </v-list>
		      </v-menu>
		    </v-toolbar>
			<v-layout row>
				<v-flex xs6 offset-xs3>
					<v-layout row mt-5>
						<v-flex>
							<v-img :src="img" aspect-ratio="1" style="max-width: 80%; object-fit: cover;">
						</v-flex>
						<v-flex>
							<v-flex class="headline grey--text text--lighten-2">{{ username }}</v-flex>
							<v-layout row align-left>
								<v-flex class="headline grey--text text--lighten-2" shrink mt-3>Subtitles language&nbsp&nbsp</v-flex>
								<v-flex md1 d-flex grow>
									<v-select
										v-model="selected"
										:items="items"
									></v-select>
								</v-flex>
								<v-btn class="mt-3 ml-5" v-on:click="change_lang();">Update</v-btn>
							</v-layout>
							<div class="countup" id="countup1">
								<span class="headline grey--text text--lighten-2">Total watch time: </span>
								<span class="timeel hours">{{ hours }}</span>
								<span class="timeel timeRefHours">hours</span>
								<span class="timeel minutes">{{ minutes }}</span>
								<span class="timeel timeRefMinutes">minutes</span>
							</div>
						</v-flex>
					</v-layout>
					<v-btn v-on:click="window.location.href = '/update';" v-if="oauth == 0">Update info</v-btn>
				</v-flex>
			</v-layout>
		</template>
	</v-app>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.10/dist/vuetify.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/stats.js"></script>
	<style scoped>
		a {
			text-decoration: none;
			color: white;
		}
	</style>
</body>
</html>
