<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<style>
	.hvr-shrink:hover, .hvr-shrink:active {
		-webkit-transform: scale(1.10);
		transform: scale(1.10);
		z-index: 2;
	}
	</style>
</head>
<body>
	<v-app id="app" style="background: #263238;">
		<template>
			<v-toolbar dark color="#455B66" style="font-family: roboto;">
				<v-toolbar-side-icon></v-toolbar-side-icon>
				<v-toolbar-title id="home" style="cursor: pointer" class="display-1 font-weight-light">Hypertube</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-toolbar-items class="hidden-sm-and-down">
					<v-text-field
					hide-details
					prepend-icon="search"
					single-line
					id = "search_input"
					></v-text-field>
					<v-btn flat v-on:click="window.location.replace('/');">Movies</v-btn>
					<v-btn flat v-on:click="window.location.replace('/tv');" color="#342A21">Tv shows</v-btn>
					<v-btn flat v-on:click="window.location.replace('/stats');">Stats</v-btn>
					<v-btn flat v-on:click="window.location.replace('/update');">Update</v-btn>
					<v-btn flat v-on:click="window.location.replace('/logout')">logout</v-btn>
				</v-toolbar-items>
			</v-toolbar>
			<v-container grid-list-md text-xs-center>
				<v-layout row wrap id="movie_list">
					<v-dialog
					v-model="dialog"
					hide-overlay
					persistent
					width="300"
					>
					<v-card
					color="primary"
					dark
					>
					<v-card-text>
						Please stand by, We are preparing your movie..
						<v-progress-linear
						indeterminate
						color="white"
						class="mb-0"
						></v-progress-linear>
					</v-card-text>
					</v-card>
				</v-dialog>
					<%
					for (let i = 0; i < data.length; i++) {
						if (data[i].poster_path) {
						%>
						<v-flex xs2 v-on:click="goto_show(<%= data[i].id %>)">
							<v-hover>
								<v-card dark tile flat color="teal lighten-2" width="98%" class="hvr-shrink mb-3" style="cursor: pointer">
									<v-img src="https://image.tmdb.org/t/p/w1280<%= data[i].poster_path %>" class="grey lighten-2">
								</v-card>
							</v-hover>
						</v-flex>
						<%
						}
					}
					%>
				</v-layout>
			</v-container>
		</template>
	</v-app>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="/js/search.js"></script>
</body>
</html>
